<torch-custom-button *ngIf="true">
    <div class="content">
        <ng-content select="div.content"></ng-content>
    </div>
    <div class="hovered">
        <ng-content select="div.hovered"></ng-content>
    </div>
    <div class="pressed">
        <ng-content select="div.pressed"></ng-content>
    </div>
    <div class="disabled">
        <ng-content select="div.disabled"></ng-content>
    </div>
</torch-custom-button>