torch-custom-button {
    width: 30px;
    height: 30px;
}

torch-custom-group {
    border: 1px solid;
}

torch-cols {
    height: 100%;
}

.caption {
    width: 100%;
    height: 30px;
    padding-left: 7px;
}

.img-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70.5%;
    height: 70.5%;
}

.content, .hovered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hovered {
    visibility: hidden;
}