<torch-custom-group
    [style.border-color]="getCaptionColor()"
    [style.border-radius]="borderRadius + 'px'">
    <div class="caption"
        [style.background-color]="getCaptionColor()">
        <torch-cols [justifyItems]="layouts.LAYOUTS_SPACE_BETWEEN" [alignItems]="layouts.LAYOUTS_CENTER">
            <div class="text" [style.color]="getIconColor()">{{ caption }}</div>
            <div class="controls" *ngIf="controls && controls.length > 0">
                <torch-custom-button *ngFor="let button of controls; let i = index" (stateChange)="onStateChange($event)" (torchclick)="button.fn(i)">
                    <div class="content view">
                        <object class="img-btn" type="image/svg+xml" [attr.data]="getCommonIconPath(i)"></object>
                    </div>
                    <div class="hovered view">
                        <object class="img-btn hovered-icon" [style.background-color]="getCaptionColor()" type="image/svg+xml" [data]="getHoveredIconPath(i)"></object>
                    </div>
                </torch-custom-button>
            </div>
        </torch-cols>
    </div>
    <ng-content class="content" select=".content"></ng-content>
</torch-custom-group>