<torch-custom-button
    [externalObservers]="hasClickObservers"
    [preferredStopPropagation]="preferredStopPropagation"
    [(state)]="state"
    (torchclick)="select()">
    <ng-content class="content" select=".content"></ng-content>
    <ng-content class="hovered" select=".hovered"></ng-content>
    <ng-content class="pressed" select=".pressed"></ng-content>
    <ng-content class="disabled" select=".disabled"></ng-content>
    <ng-container class="checked-view" *ngIf="checked">
        <ng-content select=".checked"></ng-content>
    </ng-container>
</torch-custom-button>