:host {
    display: block;
    width: 100%;
    height: 100%;
}

button {
    display: none;
    pointer-events: none;
}

.custom-button-wrapper {
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
}

.custom-button-view {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

:host >>> .custom-button-view > .content,
:host >>> .custom-button-view > .hovered,
:host >>> .custom-button-view > .pressed,
:host >>> .custom-button-view > .disabled {
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    user-select: none;

    position: absolute;
    top: 0;
    left: 0;
}

/*:host >>> .custom-button-view .content,  {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/

.disabled-btn {
    pointer-events: none !important;
    cursor: default !important;
}