<torch-interactive class="custom-button-wrapper" [ngClass]="{ 'disabled-btn': state.disabled }"
    [externalObservers]="hasClickObservers"
    [preferredStopPropagation]="preferredStopPropagation"
    (torchclick)="onClick($event)"
    (torchmouseover)="onMouseOver($event)"
    (torchmouseout)="onMouseOut($event)"
    (torchmousedown)="onMouseDown($event)"
    (torchmouseup)="onMouseUp($event)">
    <div class="content custom-button-view">
        <button id="native-btn" [type]="type" (click)="onNativeClick($event)"></button>
        <ng-container class="content-view" *ngIf="showContentView()">
            <ng-content select=".content"></ng-content>
        </ng-container>
        <ng-container class="hovered-view" *ngIf="showHoveredView()">
            <ng-content select=".hovered"></ng-content>
        </ng-container>
        <ng-container class="pressed-view" *ngIf="showPressedView()">
            <ng-content select=".pressed"></ng-content>
        </ng-container>
        <ng-container class="disabled-view" *ngIf="showDisabledView()">
            <ng-content select=".disabled"></ng-content>
        </ng-container>
        <ng-content select="ng-container"></ng-content>
    </div>
</torch-interactive>