<ng-container *ngIf="buttonType == 0; then flatButton else flatCheckedButton"></ng-container>

<ng-template #flatButton>
    <torch-custom-button (torchclick)="onClick($event)" [externalObservers]="externalObservers">
        <ng-container class="content">
            <ng-container [ngTemplateOutlet]="basisContent"></ng-container>
        </ng-container>
        <ng-container class="hovered">
            <ng-container [ngTemplateOutlet]="basisHovered"></ng-container>
        </ng-container>
        <ng-container class="pressed">
            <ng-container [ngTemplateOutlet]="basisPressed"></ng-container>
        </ng-container>
        <ng-container class="disabled">
            <ng-container [ngTemplateOutlet]="basisDisabled"></ng-container>
        </ng-container>
    </torch-custom-button>
</ng-template>

<ng-template #flatCheckedButton>
    <torch-custom-checked-button [(checked)]="checked" (torchclick)="onClick($event)" (torchchecked)="onCheck($event)">
        <ng-container class="content">
            <ng-container [ngTemplateOutlet]="basisContent"></ng-container>
        </ng-container>
        <ng-container class="hovered">
            <ng-container [ngTemplateOutlet]="basisHovered"></ng-container>
        </ng-container>
        <ng-container class="pressed">
            <ng-container [ngTemplateOutlet]="basisPressed"></ng-container>
        </ng-container>
        <ng-container class="disabled">
            <ng-container [ngTemplateOutlet]="basisDisabled"></ng-container>
        </ng-container>
        <ng-container class="checked">
            <ng-container [ngTemplateOutlet]="basisChecked"></ng-container>
        </ng-container>
    </torch-custom-checked-button>
</ng-template>

<ng-template #basisContent>
    <div class="content view"
         [style.justify-content]="captionAlign"
         [style.color]="getCommonColor()"
         [style.background-color]="getCommonBackgroundColor()"
         [style.border]="(getCommonBorderColor() != 'transparent') ? '1px solid' : 'none'"
         [style.border-color]="getCommonBorderColor()"
         [style.border-radius]="borderRadius + 'px'">
        <ng-container [ngTemplateOutlet]="content"></ng-container>
    </div>
</ng-template>

<ng-template #basisHovered>
    <div class="hovered view"
         [style.justify-content]="captionAlign"
         [style.color]="getHoveredColor()"
         [style.background-color]="getHoveredBackgroundColor()"
         [style.border]="(getHoveredBorderColor() != 'transparent') ? '1px solid' : 'none'"
         [style.border-color]="getHoveredBorderColor()"
         [style.border-radius]="borderRadius + 'px'">
        <ng-container [ngTemplateOutlet]="content"></ng-container>
    </div>
</ng-template>

<ng-template #basisPressed>
    <div class="pressed view"
         [style.justify-content]="captionAlign"
         [style.color]="getPressedColor()"
         [style.background-color]="getPressedBackgroundColor()"
         [style.border]="(getPressedBorderColor() != 'transparent') ? '1px solid' : 'none'"
         [style.border-color]="getPressedBorderColor()"
         [style.border-radius]="borderRadius + 'px'">
        <ng-container [ngTemplateOutlet]="content"></ng-container>
    </div>
</ng-template>

<ng-template #basisChecked>
    <div class="checked view"
         [style.justify-content]="captionAlign"
         [style.color]="getCheckedColor()"
         [style.background-color]="getCheckedBackgroundColor()"
         [style.border]="(getCheckedBorderColor() != 'transparent') ? '1px solid' : 'none'"
         [style.border-color]="getCheckedBorderColor()"
         [style.border-radius]="borderRadius + 'px'">
        <ng-container [ngTemplateOutlet]="content"></ng-container>
    </div>
</ng-template>

<ng-template #basisDisabled>
    <div class="disabled view"
         [style.justify-content]="captionAlign"
         [style.color]="getDisabledColor()"
         [style.background-color]="getDisabledBackgroundColor()"
         [style.border]="(getDisabledBorderColor() != 'transparent') ? '1px solid' : 'none'"
         [style.border-color]="getDisabledBorderColor()"
         [style.border-radius]="borderRadius + 'px'">
        <ng-container [ngTemplateOutlet]="content"></ng-container>
    </div>
</ng-template>

<ng-template #content>
    <span>{{ caption }}</span>
</ng-template>