<torch-custom-group>
    <ng-content class="caption" select=".caption"></ng-content>
    <ng-container class="content" *ngIf="open">
        <ng-content select=".content"></ng-content>
    </ng-container>
</torch-custom-group>