<!--<ng-container *ngIf="true">-->
    <!--<torch-cols>-->
        <!--<ng-content select="torch-list-item"></ng-content>-->
    <!--</torch-cols>-->
<!--</ng-container>-->
<!--<torch-list-item *ngFor="let item of items" [item]="item">-->
    <!--<div class="content">-->
        <!--{{ item.querySelector(".content").innerHTML }}-->
    <!--</div>-->
    <!--<div class="hovered">-->
        <!--{{ item.querySelector(".hovered").innerHTML }}-->
    <!--</div>-->
<!--</torch-list-item>-->
<!--<torch-interactive *ngFor="let item of items">-->
    <!--<div class="content">-->
        <!--<tor-->
    <!--</div>-->
    <!--{{ item.innerHTML }}-->
<!--</torch-interactive>-->
<torch-custom-list>
    <div class="items">
        <ng-content select="torch-list-item"></ng-content>
    </div>
</torch-custom-list>