<div class="custom-combobox-wrapper" [ngStyle]="{ 'z-index': (isOpen) ? '1000' : 'auto' }">
    <div class="custom-combobox-view">
        <ng-container class="content-layer">
            <ng-content select="app-custom-combobox > div.content"></ng-content>
        </ng-container>
        <div class="hovered-layer">
            <ng-content select="app-custom-combobox > div.hovered"></ng-content>
        </div>
        <ng-container class="list-content-layer">
            <ng-content select="app-custom-combobox > div.list-content" *ngIf="isOpen"></ng-content>
        </ng-container>

        <!--<div class="text">{{ selectedValue }}</div>-->
        <!--<div class="menu" [ngStyle]="{'display': (isOpen) ? 'block' : 'none'}">-->
            <!--<div *ngFor="let item of items; let i = index" class="item" (click)="select(i)">{{ item }}</div>-->
        <!--</div>-->
    </div>
</div>