<torch-custom-list [(selected)]="selected"
    [style.background-color]="getBackgroundColor()"
    [style.border]="getBorder()"
    [style.border-color]="getBorderColor()"
    [style.border-radius]="borderRadius + 'px'"
    (mousedown)="onMouseDown()">
    <torch-flat-checked-button class="item" *ngFor="let item of items; let i = index"
        [caption]="item"
        [captionAlign]="captionAlign"
        [borderRadius]="2"
        [colors]="colors"
        [checked]="isChecked(i)"
        (torchchecked)="onCheck($event, i)">
    </torch-flat-checked-button>
</torch-custom-list>