:host {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: auto;
    width: 100%;
    height: 100%;
}

:host >>> .item {
    position: relative;
    z-index: 1;
}

torch-cols {
    height: 100%;
    width: 100%;
    pointer-events: auto;
}